.form{
    margin: 0, auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.fieldName{
    margin-bottom: 25px;
    font-size: medium;
    color: #e645bb;
    font-style: italic;
}

.input{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
}

.button{
    width:100px;
    height: 25px;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
    font-size: 12px;
}