.fieldName{
    margin-bottom: 5px;
    font-size: medium;
    color: #e645bb;
    font-style: italic;
}

.input{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
}